.business-verification-centre-container {
  width: 100%;
  display: flex;
  overflow: auto;
  min-height: 100vh;
  overflow-x: hidden;
  flex-direction: column;
}
.business-verification-centre-navbar-interactive {
  width: 100%;
  display: flex;
  position: relative;
  align-items: center;
  padding-top: var(--dl-space-space-twounits);
  padding-left: var(--dl-space-space-threeunits);
  padding-right: var(--dl-space-space-threeunits);
  padding-bottom: var(--dl-space-space-twounits);
  justify-content: space-between;
  background-color: var(--dl-color-gray-white);
}
.business-verification-centre-navlink {
  font-size: 26px;
  font-style: inherit;
  font-family: Alegreya Sans SC;
  font-weight: 400;
  text-decoration: none;
}
.business-verification-centre-desktop-menu {
  display: flex;
}
.business-verification-centre-nav {
  flex: 0 0 auto;
  display: flex;
  align-items: center;
  flex-direction: row;
}
.business-verification-centre-text {
  font-size: 18px;
  font-family: Alegreya Sans SC;
  margin-left: var(--dl-space-space-twounits);
}
.business-verification-centre-text01 {
  font-size: 18px;
  font-family: Alegreya Sans SC;
}
.business-verification-centre-text02 {
  font-size: 18px;
  font-family: Alegreya Sans SC;
  margin-left: var(--dl-space-space-twounits);
}
.business-verification-centre-text03 {
  font-size: 18px;
  font-family: Alegreya Sans SC;
  margin-left: var(--dl-space-space-twounits);
}
.business-verification-centre-btn-group {
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
}
.business-verification-centre-thq-dropdown {
  cursor: pointer;
  display: inline-block;
  position: relative;
  border-radius: var(--dl-radius-radius-radius2);
}
.business-verification-centre-dropdown-toggle {
  fill: #595959;
  color: #f9f7f7;
  width: 100%;
  display: inline-flex;
  align-items: center;
  padding-top: var(--dl-space-space-halfunit);
  padding-left: var(--dl-space-space-unit);
  border-radius: 56px;
  padding-right: var(--dl-space-space-unit);
  padding-bottom: var(--dl-space-space-halfunit);
  background-color: #060000;
}
.business-verification-centre-text04 {
  font-size: 18px;
  font-style: normal;
  text-align: center;
  font-family: Alegreya Sans SC;
  font-weight: 500;
  margin-right: 4px;
  vertical-align: middle;
}
.business-verification-centre-dropdown-arrow {
  transition: 0.3s;
}
.business-verification-centre-icon {
  width: 18px;
  height: 18px;
  margin-top: auto;
  transition: 0.3s;
  margin-bottom: auto;
}
.business-verification-centre-dropdown-list {
  left: 0%;
  width: max-content;
  display: none;
  z-index: 100;
  position: absolute;
  min-width: 100%;
  transition: 0.3s;
  align-items: stretch;
  border-color: #fdfcfc;
  border-width: 1px;
  border-radius: 5px;
  flex-direction: column;
  list-style-type: none;
  background-color: #060000;
  list-style-position: inside;
}
.business-verification-centre-view-profile {
  cursor: pointer;
  display: inline-block;
  position: relative;
  border-radius: var(--dl-radius-radius-radius2);
}
.business-verification-centre-dropdown-toggle1 {
  fill: #595959;
  color: #595959;
  width: 100%;
  display: inline-flex;
  transition: 0.3s;
  align-items: center;
  padding-top: var(--dl-space-space-halfunit);
  padding-left: var(--dl-space-space-unit);
  border-radius: var(--dl-radius-radius-radius4);
  padding-right: var(--dl-space-space-unit);
  padding-bottom: var(--dl-space-space-halfunit);
}
.business-verification-centre-dropdown-toggle1:hover {
  fill: #fff;
  color: #fff;
  background-color: #595959;
}
.business-verification-centre-view-profile1 {
  color: rgb(255, 255, 255);
  width: 100%;
  cursor: pointer;
  display: flex;
  font-size: 16px;
  font-style: normal;
  font-family: Alegreya Sans SC;
  font-weight: 500;
  text-decoration: none;
}
.business-verification-centre-logout {
  cursor: pointer;
  display: inline-block;
  position: relative;
  border-radius: var(--dl-radius-radius-radius2);
}
.business-verification-centre-dropdown-toggle2 {
  fill: #595959;
  color: #595959;
  width: 100%;
  display: inline-flex;
  transition: 0.3s;
  align-items: center;
  padding-top: var(--dl-space-space-halfunit);
  padding-left: var(--dl-space-space-unit);
  border-radius: var(--dl-radius-radius-radius4);
  padding-right: var(--dl-space-space-unit);
  padding-bottom: var(--dl-space-space-halfunit);
}
.business-verification-centre-dropdown-toggle2:hover {
  fill: #fff;
  color: #fff;
  background-color: #595959;
}
.business-verification-centre-logout1 {
  color: rgb(255, 255, 255);
  width: 100%;
  cursor: pointer;
  display: flex;
  font-size: 16px;
  font-style: normal;
  font-family: Alegreya Sans SC;
  font-weight: 500;
  text-decoration: none;
}
.business-verification-centre-burger-menu {
  display: none;
  align-items: center;
  justify-content: center;
}
.business-verification-centre-icon02 {
  width: var(--dl-size-size-xsmall);
  height: var(--dl-size-size-xsmall);
}
.business-verification-centre-mobile-menu {
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100vh;
  display: none;
  padding: 32px;
  z-index: 100;
  position: fixed;
  flex-direction: column;
  justify-content: space-between;
  background-color: #fff;
}
.business-verification-centre-nav1 {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.business-verification-centre-container01 {
  width: 100%;
  display: flex;
  align-items: center;
  margin-bottom: var(--dl-space-space-threeunits);
  justify-content: space-between;
}
.business-verification-centre-image {
  height: 2rem;
}
.business-verification-centre-menu-close {
  display: flex;
  align-items: center;
  justify-content: center;
}
.business-verification-centre-icon04 {
  width: var(--dl-size-size-xsmall);
  height: var(--dl-size-size-xsmall);
}
.business-verification-centre-nav2 {
  flex: 0 0 auto;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.business-verification-centre-text05 {
  margin-bottom: var(--dl-space-space-unit);
}
.business-verification-centre-text06 {
  margin-bottom: var(--dl-space-space-unit);
}
.business-verification-centre-text07 {
  margin-bottom: var(--dl-space-space-unit);
}
.business-verification-centre-text08 {
  margin-bottom: var(--dl-space-space-unit);
}
.business-verification-centre-text09 {
  margin-bottom: var(--dl-space-space-unit);
}
.business-verification-centre-container02 {
  flex: 0 0 auto;
  width: auto;
  display: flex;
  margin-top: var(--dl-space-space-unit);
  align-items: center;
  flex-direction: row;
}
.business-verification-centre-login {
  margin-right: var(--dl-space-space-twounits);
}
.business-verification-centre-icon-group {
  display: flex;
}
.business-verification-centre-icon06 {
  width: var(--dl-size-size-xsmall);
  height: var(--dl-size-size-xsmall);
  margin-right: var(--dl-space-space-twounits);
}
.business-verification-centre-icon08 {
  width: var(--dl-size-size-xsmall);
  height: var(--dl-size-size-xsmall);
  margin-right: var(--dl-space-space-twounits);
}
.business-verification-centre-icon10 {
  width: var(--dl-size-size-xsmall);
  height: var(--dl-size-size-xsmall);
}
.business-verification-centre-credentials {
  width: 100%;
  display: flex;
  align-items: center;
  padding-top: var(--dl-space-space-twounits);
  padding-left: var(--dl-space-space-oneandhalfunits);
  margin-bottom: var(--dl-space-space-twounits);
  padding-right: var(--dl-space-space-oneandhalfunits);
  flex-direction: column;
  padding-bottom: var(--dl-space-space-twounits);
  background-color: #088756;
}
.business-verification-centre-text10 {
  color: #ffffff;
  font-size: 32px;
  align-self: center;
  font-family: Alegreya Sans SC;
  margin-bottom: var(--dl-space-space-twounits);
}
.business-verification-centre-centered-container {
  width: auto;
  height: auto;
  display: flex;
  max-width: 1200px;
  min-width: 1200px;
  align-items: flex-end;
  margin-bottom: var(--dl-space-space-twounits);
  flex-direction: column;
  justify-content: space-between;
}
.business-verification-centre-text11 {
  color: rgb(255, 255, 255);
  font-size: 26px;
  align-self: center;
  font-style: normal;
  font-family: Alegreya Sans SC;
  font-weight: 300;
  margin-bottom: var(--dl-space-space-oneandhalfunits);
  padding-bottom: var(--dl-space-space-twounits);
  text-decoration: underline;
}
.business-verification-centre-container03 {
  flex: 0 0 auto;
  width: 100%;
  display: flex;
  align-items: flex-start;
  padding-bottom: var(--dl-space-space-twounits);
}
.business-verification-centre-container04 {
  flex: 0 0 auto;
  width: 48%;
  height: auto;
  display: flex;
  align-items: flex-start;
  margin-left: var(--dl-space-space-halfunit);
  margin-right: var(--dl-space-space-halfunit);
  padding-right: 0px;
}
.business-verification-centre-centered-container1 {
  width: 100%;
  height: auto;
  display: flex;
  max-width: auto;
  align-items: flex-end;
  margin-bottom: var(--dl-space-space-twounits);
  flex-direction: column;
  justify-content: space-between;
}
.business-verification-centre-text12 {
  color: rgb(255, 255, 255);
  font-size: 23px;
  align-self: center;
  font-style: normal;
  font-family: Alegreya Sans SC;
  font-weight: 300;
  margin-bottom: var(--dl-space-space-oneandhalfunits);
  text-decoration: underline;
}
.business-verification-centre-form {
  width: auto;
  height: auto;
  display: flex;
  align-self: center;
  margin-top: var(--dl-space-space-halfunit);
  align-items: center;
  margin-left: var(--dl-space-space-unit);
  padding-top: var(--dl-space-space-halfunit);
  border-color: var(--dl-color-gray-black);
  border-width: 1px;
  margin-right: var(--dl-space-space-unit);
  padding-left: var(--dl-space-space-unit);
  margin-bottom: var(--dl-space-space-halfunit);
  padding-right: var(--dl-space-space-unit);
  flex-direction: column;
  padding-bottom: var(--dl-space-space-halfunit);
  justify-content: center;
}
.business-verification-centre-text13 {
  color: rgb(255, 255, 255);
  font-style: italic;
  font-family: Alegreya Sans SC;
  font-weight: 100;
  margin-bottom: var(--dl-space-space-twounits);
}
.business-verification-centre-text15 {
  color: var(--dl-color-primary-700);
}
.business-verification-centre-container05 {
  flex: 0 0 auto;
  width: auto;
  display: flex;
  align-self: flex-start;
  align-items: center;
  border-color: var(--dl-color-gray-black);
  border-width: 0px;
  margin-bottom: var(--dl-space-space-unit);
  padding-bottom: var(--dl-space-space-unit);
  justify-content: center;
  border-top-width: 0px;
  border-left-width: 0px;
  border-right-width: 0px;
  border-bottom-width: 0px;
}
.business-verification-centre-container06 {
  flex: 0 0 auto;
  width: auto;
  height: auto;
  display: flex;
  align-self: flex-start;
  margin-top: var(--dl-space-space-halfunit);
  align-items: flex-start;
  margin-right: var(--dl-space-space-oneandhalfunits);
  flex-direction: column;
  justify-content: flex-start;
}
.business-verification-centre-text17 {
  color: rgb(249, 248, 248);
  padding: 0.5rem;
  font-size: 18px;
  align-self: flex-end;
  font-style: normal;
  text-align: left;
  font-family: Alegreya Sans SC;
  font-weight: 300;
  margin-bottom: var(--dl-space-space-unit);
}
.business-verification-centre-container07 {
  flex: 0 0 auto;
  width: auto;
  height: auto;
  display: flex;
  align-self: flex-start;
  align-items: flex-start;
  flex-direction: column;
  justify-content: flex-start;
}
.business-verification-centre-button {
  color: rgb(255, 255, 255);
  font-size: 23px;
  align-self: center;
  margin-top: var(--dl-space-space-halfunit);
  font-family: Alegreya Sans SC;
  border-radius: 56px;
  margin-bottom: var(--dl-space-space-halfunit);
  background-color: rgb(0, 0, 0);
}
.business-verification-centre-container08 {
  flex: 0 0 auto;
  width: 48%;
  height: auto;
  display: flex;
  align-items: flex-start;
  margin-left: var(--dl-space-space-halfunit);
  margin-right: var(--dl-space-space-halfunit);
  padding-right: var(--dl-space-space-oneandhalfunits);
}
.business-verification-centre-centered-container2 {
  width: 100%;
  height: auto;
  display: flex;
  max-width: auto;
  align-items: flex-end;
  margin-bottom: var(--dl-space-space-twounits);
  flex-direction: column;
  justify-content: space-between;
}
.business-verification-centre-text18 {
  color: rgb(255, 255, 255);
  font-size: 23px;
  align-self: center;
  font-style: normal;
  font-family: Alegreya Sans SC;
  font-weight: 300;
  margin-bottom: var(--dl-space-space-oneandhalfunits);
  text-decoration: underline;
}
.business-verification-centre-form1 {
  width: auto;
  height: auto;
  display: flex;
  align-self: center;
  margin-top: var(--dl-space-space-halfunit);
  align-items: center;
  margin-bottom: var(--dl-space-space-halfunit);
  flex-direction: column;
  padding-bottom: var(--dl-space-space-halfunit);
  justify-content: center;
}
.business-verification-centre-text19 {
  color: rgb(255, 255, 255);
  font-style: italic;
  font-family: Alegreya Sans SC;
  font-weight: 100;
  margin-bottom: var(--dl-space-space-twounits);
}
.business-verification-centre-text21 {
  color: var(--dl-color-primary-700);
}
.business-verification-centre-container09 {
  flex: 0 0 auto;
  width: auto;
  display: flex;
  align-self: flex-start;
  align-items: center;
  justify-content: center;
}
.business-verification-centre-container10 {
  flex: 0 0 auto;
  width: auto;
  height: auto;
  display: flex;
  align-self: flex-start;
  margin-top: var(--dl-space-space-halfunit);
  align-items: flex-start;
  margin-right: var(--dl-space-space-oneandhalfunits);
  flex-direction: column;
  justify-content: flex-start;
}
.business-verification-centre-text23 {
  color: rgb(249, 248, 248);
  padding: 0.5rem;
  font-size: 18px;
  align-self: flex-end;
  font-style: normal;
  text-align: left;
  font-family: Alegreya Sans SC;
  font-weight: 300;
  margin-bottom: var(--dl-space-space-unit);
}
.business-verification-centre-text24 {
  color: rgb(253, 253, 253);
  padding: 0.5rem;
  font-size: 18px;
  align-self: flex-end;
  font-style: normal;
  font-family: Alegreya Sans SC;
  font-weight: 300;
  margin-bottom: var(--dl-space-space-unit);
}
.business-verification-centre-text25 {
  color: rgb(253, 253, 253);
  font-size: 18px;
  align-self: flex-end;
  font-style: normal;
  font-family: Alegreya Sans SC;
  font-weight: 300;
  padding-top: 0.5rem;
  padding-left: 1rem;
  margin-bottom: var(--dl-space-space-unit);
  padding-right: 1rem;
  padding-bottom: 0.5rem;
}
.business-verification-centre-text27 {
  color: var(--dl-color-primary-700);
}
.business-verification-centre-profile-pic {
  color: rgb(253, 253, 253);
  font-size: 18px;
  align-self: flex-end;
  font-style: normal;
  font-family: Alegreya Sans SC;
  font-weight: 300;
  padding-top: 0.5rem;
  padding-left: 1rem;
  margin-bottom: 0px;
  padding-right: 1rem;
  padding-bottom: 0.5rem;
}
.business-verification-centre-profile-pic1 {
  color: rgb(253, 253, 253);
  font-size: 18px;
  align-self: flex-end;
  font-style: normal;
  text-align: right;
  font-family: Alegreya Sans SC;
  font-weight: 300;
  padding-top: 0rem;
  padding-left: 1rem;
  margin-bottom: var(--dl-space-space-oneandhalfunits);
  padding-right: 1rem;
  padding-bottom: 0rem;
}
.business-verification-centre-container11 {
  flex: 0 0 auto;
  width: auto;
  height: auto;
  display: flex;
  align-self: flex-start;
  align-items: flex-start;
  flex-direction: column;
  justify-content: flex-start;
}
.business-verification-centre-text32 {
  color: rgb(253, 253, 253);
  padding: 0.5rem;
  font-size: 18px;
  align-self: flex-start;
  font-style: normal;
  text-align: left;
  font-family: Alegreya Sans SC;
  font-weight: 300;
  margin-bottom: var(--dl-space-space-unit);
}
.business-verification-centre-text33 {
  color: rgb(253, 253, 253);
  padding: 0.5rem;
  font-size: 18px;
  align-self: flex-start;
  font-style: normal;
  text-align: left;
  font-family: Alegreya Sans SC;
  font-weight: 300;
  margin-bottom: var(--dl-space-space-unit);
}
.business-verification-centre-text34 {
  color: rgb(253, 253, 253);
  padding: 0.5rem;
  font-size: 18px;
  align-self: flex-start;
  font-style: normal;
  text-align: left;
  font-family: Alegreya Sans SC;
  font-weight: 300;
  margin-bottom: var(--dl-space-space-unit);
}
.business-verification-centre-image1 {
  width: 100px;
  object-fit: cover;
}
.business-verification-centre-footer {
  width: 100%;
  display: flex;
  padding: var(--dl-space-space-twounits);
  max-width: auto;
  align-items: center;
  padding-top: var(--dl-space-space-threeunits);
  padding-left: var(--dl-space-space-threeunits);
  padding-right: var(--dl-space-space-threeunits);
  padding-bottom: var(--dl-space-space-threeunits);
  justify-content: space-between;
}
.business-verification-centre-text35 {
  font-family: Alegreya Sans SC;
}
.business-verification-centre-text36 {
  font-family: Alegreya Sans SC;
}
@media(max-width: 1600px) {
  .business-verification-centre-navlink {
    font-size: 26px;
    font-style: inherit;
    font-family: Alegreya Sans SC;
    font-weight: 400;
  }
  .business-verification-centre-text {
    font-size: 18px;
    font-family: Alegreya Sans SC;
  }
  .business-verification-centre-text02 {
    font-size: 18px;
    font-family: Alegreya Sans SC;
  }
  .business-verification-centre-text03 {
    font-size: 18px;
    font-family: Alegreya Sans SC;
  }
  .business-verification-centre-dropdown-toggle {
    color: #f9f8f8;
    border-radius: 56px;
    background-color: #040000;
  }
  .business-verification-centre-text04 {
    font-size: 18px;
    font-style: normal;
    font-family: Alegreya Sans SC;
    font-weight: 500;
  }
  .business-verification-centre-dropdown-list {
    display: none;
    border-radius: 5px;
  }
  .business-verification-centre-view-profile1 {
    font-size: 16px;
    font-family: Alegreya Sans SC;
  }
  .business-verification-centre-logout1 {
    font-size: 16px;
    font-family: Alegreya Sans SC;
  }
  .business-verification-centre-credentials {
    padding-left: var(--dl-space-space-oneandhalfunits);
    padding-right: var(--dl-space-space-oneandhalfunits);
  }
  .business-verification-centre-text10 {
    color: #ffffff;
    font-size: 32px;
    align-self: center;
    font-family: Alegreya Sans SC;
  }
}
@media(max-width: 1200px) {
  .business-verification-centre-navlink {
    font-size: 26px;
    font-style: inherit;
    font-family: Alegreya Sans SC;
    font-weight: 400;
  }
  .business-verification-centre-text {
    font-size: 18px;
    font-family: Alegreya Sans SC;
  }
  .business-verification-centre-text01 {
    font-size: 18px;
    font-family: Alegreya Sans SC;
  }
  .business-verification-centre-text02 {
    font-size: 18px;
    font-family: Alegreya Sans SC;
  }
  .business-verification-centre-text03 {
    font-size: 18px;
  }
  .business-verification-centre-dropdown-toggle {
    color: #f7f6f6;
    border-radius: 56px;
    background-color: #040000;
  }
  .business-verification-centre-text04 {
    font-size: 18px;
    font-style: normal;
    font-family: Alegreya Sans SC;
    font-weight: 500;
  }
  .business-verification-centre-view-profile1 {
    font-size: 16px;
    font-style: normal;
    font-family: Alegreya Sans SC;
    font-weight: 500;
  }
  .business-verification-centre-logout1 {
    font-size: 16px;
    font-style: normal;
    font-family: Alegreya Sans SC;
    font-weight: 500;
  }
  .business-verification-centre-text10 {
    color: rgb(255, 255, 255);
    font-size: 32px;
    align-self: center;
    text-align: left;
    font-family: Alegreya Sans SC;
  }
  .business-verification-centre-centered-container {
    align-items: center;
    justify-content: center;
  }
  .business-verification-centre-centered-container1 {
    align-items: center;
    justify-content: center;
  }
  .business-verification-centre-form {
    width: 100%;
    align-self: stretch;
  }
  .business-verification-centre-centered-container2 {
    align-items: center;
    justify-content: center;
  }
  .business-verification-centre-form1 {
    width: 100%;
    align-self: stretch;
  }
  .business-verification-centre-footer {
    background-color: #ffffff;
  }
  .business-verification-centre-text35 {
    font-size: 26px;
    font-style: normal;
    font-family: Alegreya Sans SC;
    font-weight: 700;
    text-transform: capitalize;
  }
  .business-verification-centre-text36 {
    color: #000000;
    font-family: Alegreya Sans SC;
  }
}
@media(max-width: 991px) {
  .business-verification-centre-centered-container {
    justify-content: flex-start;
  }
  .business-verification-centre-centered-container1 {
    justify-content: flex-start;
  }
  .business-verification-centre-form {
    width: 100%;
    align-self: center;
    align-items: center;
    justify-content: center;
  }
  .business-verification-centre-centered-container2 {
    justify-content: flex-start;
  }
  .business-verification-centre-form1 {
    width: 100%;
    align-self: center;
    align-items: center;
    justify-content: center;
  }
}
@media(max-width: 767px) {
  .business-verification-centre-navbar-interactive {
    padding-left: var(--dl-space-space-twounits);
    padding-right: var(--dl-space-space-twounits);
  }
  .business-verification-centre-desktop-menu {
    display: none;
  }
  .business-verification-centre-text {
    margin-left: var(--dl-space-space-unit);
  }
  .business-verification-centre-text02 {
    margin-left: var(--dl-space-space-unit);
  }
  .business-verification-centre-text03 {
    margin-left: var(--dl-space-space-unit);
  }
  .business-verification-centre-btn-group {
    display: none;
  }
  .business-verification-centre-view-profile1 {
    color: rgb(255, 255, 255);
    font-size: 16px;
    font-style: normal;
    font-family: Alegreya Sans SC;
    font-weight: 500;
  }
  .business-verification-centre-logout1 {
    color: rgb(255, 255, 255);
    font-size: 16px;
    font-style: normal;
    font-family: Alegreya Sans SC;
    font-weight: 500;
  }
  .business-verification-centre-burger-menu {
    display: flex;
  }
  .business-verification-centre-credentials {
    padding-top: var(--dl-space-space-fourunits);
    padding-left: var(--dl-space-space-oneandhalfunits);
    padding-right: var(--dl-space-space-oneandhalfunits);
    padding-bottom: var(--dl-space-space-fourunits);
  }
  .business-verification-centre-footer {
    padding-left: var(--dl-space-space-twounits);
    padding-right: var(--dl-space-space-twounits);
  }
  .business-verification-centre-text36 {
    text-align: center;
    margin-left: var(--dl-space-space-unit);
    margin-right: var(--dl-space-space-unit);
  }
}
@media(max-width: 479px) {
  .business-verification-centre-navbar-interactive {
    padding: var(--dl-space-space-unit);
  }
  .business-verification-centre-mobile-menu {
    padding: 16px;
  }
  .business-verification-centre-credentials {
    padding-left: var(--dl-space-space-unit);
    padding-right: var(--dl-space-space-unit);
  }
  .business-verification-centre-footer {
    padding: var(--dl-space-space-unit);
    flex-direction: column;
  }
  .business-verification-centre-text36 {
    margin-left: 0px;
    margin-right: 0px;
    margin-bottom: var(--dl-space-space-unit);
  }
}
