.personal-credentials-container {
  width: 100%;
  display: flex;
  overflow: auto;
  min-height: 100vh;
  overflow-x: hidden;
  flex-direction: column;
}
.personal-credentials-navbar-interactive {
  width: 100%;
  display: flex;
  position: relative;
  align-items: center;
  padding-top: var(--dl-space-space-twounits);
  padding-left: var(--dl-space-space-threeunits);
  padding-right: var(--dl-space-space-threeunits);
  padding-bottom: var(--dl-space-space-twounits);
  justify-content: space-between;
  background-color: var(--dl-color-gray-white);
}
.personal-credentials-navlink {
  font-size: 26px;
  font-style: inherit;
  font-family: Alegreya Sans SC;
  font-weight: 400;
  text-decoration: none;
}
.personal-credentials-desktop-menu {
  display: flex;
}
.personal-credentials-nav {
  flex: 0 0 auto;
  display: flex;
  align-items: center;
  flex-direction: row;
}
.personal-credentials-text {
  font-size: 18px;
  font-family: Alegreya Sans SC;
}
.personal-credentials-text01 {
  font-size: 18px;
  font-family: Alegreya Sans SC;
  margin-left: var(--dl-space-space-twounits);
}
.personal-credentials-text02 {
  font-size: 18px;
  font-family: Alegreya Sans SC;
  margin-left: var(--dl-space-space-twounits);
}
.personal-credentials-text03 {
  font-size: 18px;
  font-family: Alegreya Sans SC;
  margin-left: var(--dl-space-space-twounits);
}
.personal-credentials-btn-group {
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
}
.personal-credentials-thq-dropdown {
  cursor: pointer;
  display: inline-block;
  position: relative;
  border-radius: var(--dl-radius-radius-radius2);
}
.personal-credentials-dropdown-toggle {
  fill: #595959;
  color: #f9f7f7;
  width: 100%;
  display: inline-flex;
  align-items: center;
  padding-top: var(--dl-space-space-halfunit);
  padding-left: var(--dl-space-space-unit);
  border-radius: 56px;
  padding-right: var(--dl-space-space-unit);
  padding-bottom: var(--dl-space-space-halfunit);
  background-color: #060000;
}
.personal-credentials-text04 {
  font-size: 18px;
  font-style: normal;
  text-align: center;
  font-family: Alegreya Sans SC;
  font-weight: 500;
  margin-right: 4px;
  vertical-align: middle;
}
.personal-credentials-dropdown-arrow {
  transition: 0.3s;
}
.personal-credentials-icon {
  width: 18px;
  height: 18px;
  margin-top: auto;
  transition: 0.3s;
  margin-bottom: auto;
}
.personal-credentials-dropdown-list {
  left: 0%;
  width: max-content;
  display: none;
  z-index: 100;
  position: absolute;
  min-width: 100%;
  transition: 0.3s;
  align-items: stretch;
  border-color: #fdfcfc;
  border-width: 1px;
  border-radius: 5px;
  flex-direction: column;
  list-style-type: none;
  background-color: #060000;
  list-style-position: inside;
}
.personal-credentials-view-profile {
  cursor: pointer;
  display: inline-block;
  position: relative;
  border-radius: var(--dl-radius-radius-radius2);
}
.personal-credentials-dropdown-toggle1 {
  fill: #595959;
  color: #595959;
  width: 100%;
  display: inline-flex;
  transition: 0.3s;
  align-items: center;
  padding-top: var(--dl-space-space-halfunit);
  padding-left: var(--dl-space-space-unit);
  border-radius: var(--dl-radius-radius-radius4);
  padding-right: var(--dl-space-space-unit);
  padding-bottom: var(--dl-space-space-halfunit);
}
.personal-credentials-dropdown-toggle1:hover {
  fill: #fff;
  color: #fff;
  background-color: #595959;
}
.personal-credentials-view-profile1 {
  color: rgb(255, 255, 255);
  width: 100%;
  cursor: pointer;
  display: flex;
  font-size: 16px;
  font-style: normal;
  font-family: Alegreya Sans SC;
  font-weight: 500;
  text-decoration: none;
}
.personal-credentials-logout {
  cursor: pointer;
  display: inline-block;
  position: relative;
  border-radius: var(--dl-radius-radius-radius2);
}
.personal-credentials-dropdown-toggle2 {
  fill: #595959;
  color: #595959;
  width: 100%;
  display: inline-flex;
  transition: 0.3s;
  align-items: center;
  padding-top: var(--dl-space-space-halfunit);
  padding-left: var(--dl-space-space-unit);
  border-radius: var(--dl-radius-radius-radius4);
  padding-right: var(--dl-space-space-unit);
  padding-bottom: var(--dl-space-space-halfunit);
}
.personal-credentials-dropdown-toggle2:hover {
  fill: #fff;
  color: #fff;
  background-color: #595959;
}
.personal-credentials-logout1 {
  color: rgb(255, 255, 255);
  width: 100%;
  cursor: pointer;
  display: flex;
  font-size: 16px;
  font-style: normal;
  font-family: Alegreya Sans SC;
  font-weight: 500;
  text-decoration: none;
}
.personal-credentials-burger-menu {
  display: none;
  align-items: center;
  justify-content: center;
}
.personal-credentials-icon02 {
  width: var(--dl-size-size-xsmall);
  height: var(--dl-size-size-xsmall);
}
.personal-credentials-mobile-menu {
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100vh;
  display: none;
  padding: 32px;
  z-index: 100;
  position: fixed;
  flex-direction: column;
  justify-content: space-between;
  background-color: #fff;
}
.personal-credentials-nav1 {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.personal-credentials-container01 {
  width: 100%;
  display: flex;
  align-items: center;
  margin-bottom: var(--dl-space-space-threeunits);
  justify-content: space-between;
}
.personal-credentials-image {
  height: 2rem;
}
.personal-credentials-menu-close {
  display: flex;
  align-items: center;
  justify-content: center;
}
.personal-credentials-icon04 {
  width: var(--dl-size-size-xsmall);
  height: var(--dl-size-size-xsmall);
}
.personal-credentials-nav2 {
  flex: 0 0 auto;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.personal-credentials-text05 {
  margin-bottom: var(--dl-space-space-unit);
}
.personal-credentials-text06 {
  margin-bottom: var(--dl-space-space-unit);
}
.personal-credentials-text07 {
  margin-bottom: var(--dl-space-space-unit);
}
.personal-credentials-text08 {
  margin-bottom: var(--dl-space-space-unit);
}
.personal-credentials-text09 {
  margin-bottom: var(--dl-space-space-unit);
}
.personal-credentials-container02 {
  flex: 0 0 auto;
  width: auto;
  display: flex;
  margin-top: var(--dl-space-space-unit);
  align-items: center;
  flex-direction: row;
}
.personal-credentials-login {
  margin-right: var(--dl-space-space-twounits);
}
.personal-credentials-icon-group {
  display: flex;
}
.personal-credentials-icon06 {
  width: var(--dl-size-size-xsmall);
  height: var(--dl-size-size-xsmall);
  margin-right: var(--dl-space-space-twounits);
}
.personal-credentials-icon08 {
  width: var(--dl-size-size-xsmall);
  height: var(--dl-size-size-xsmall);
  margin-right: var(--dl-space-space-twounits);
}
.personal-credentials-icon10 {
  width: var(--dl-size-size-xsmall);
  height: var(--dl-size-size-xsmall);
}
.personal-credentials-credentials {
  width: 100%;
  display: flex;
  align-items: center;
  padding-top: var(--dl-space-space-twounits);
  padding-left: var(--dl-space-space-oneandhalfunits);
  margin-bottom: var(--dl-space-space-twounits);
  padding-right: var(--dl-space-space-oneandhalfunits);
  flex-direction: column;
  padding-bottom: var(--dl-space-space-twounits);
  background-color: #211062;
}
.personal-credentials-text10 {
  color: #ffffff;
  font-size: 32px;
  align-self: center;
  font-family: Alegreya Sans SC;
  margin-bottom: var(--dl-space-space-twounits);
}
.personal-credentials-centered-container {
  width: auto;
  height: auto;
  display: flex;
  max-width: 1200px;
  min-width: 1200px;
  align-items: flex-end;
  margin-bottom: var(--dl-space-space-twounits);
  flex-direction: column;
  justify-content: space-between;
}
.personal-credentials-text11 {
  color: rgb(255, 255, 255);
  font-size: 26px;
  align-self: center;
  font-style: normal;
  font-family: Alegreya Sans SC;
  font-weight: 300;
  margin-bottom: var(--dl-space-space-oneandhalfunits);
  padding-bottom: var(--dl-space-space-twounits);
  text-decoration: underline;
}
.personal-credentials-container03 {
  flex: 0 0 auto;
  width: 100%;
  display: flex;
  align-items: flex-start;
  padding-bottom: var(--dl-space-space-twounits);
}
.personal-credentials-container04 {
  flex: 0 0 auto;
  width: 48%;
  height: auto;
  display: flex;
  align-items: flex-start;
  margin-left: var(--dl-space-space-halfunit);
  margin-right: var(--dl-space-space-halfunit);
  padding-right: 0px;
}
.personal-credentials-centered-container1 {
  width: 100%;
  height: auto;
  display: flex;
  max-width: auto;
  align-items: flex-end;
  margin-bottom: var(--dl-space-space-twounits);
  flex-direction: column;
  justify-content: space-between;
}
.personal-credentials-text12 {
  color: rgb(255, 255, 255);
  font-size: 23px;
  align-self: center;
  font-style: normal;
  font-family: Alegreya Sans SC;
  font-weight: 300;
  margin-bottom: var(--dl-space-space-oneandhalfunits);
  text-decoration: underline;
}
.personal-credentials-form {
  width: auto;
  height: auto;
  display: flex;
  align-self: center;
  margin-top: var(--dl-space-space-halfunit);
  align-items: center;
  margin-bottom: var(--dl-space-space-halfunit);
  flex-direction: column;
  padding-bottom: var(--dl-space-space-halfunit);
  justify-content: center;
}
.personal-credentials-text13 {
  color: rgb(255, 255, 255);
  font-style: italic;
  font-family: Alegreya Sans SC;
  font-weight: 100;
  margin-bottom: var(--dl-space-space-twounits);
}
.personal-credentials-text15 {
  color: var(--dl-color-primary-700);
}
.personal-credentials-container05 {
  flex: 0 0 auto;
  width: auto;
  display: flex;
  align-self: flex-start;
  align-items: center;
  border-color: var(--dl-color-gray-black);
  border-width: 1px;
  margin-bottom: var(--dl-space-space-unit);
  padding-bottom: var(--dl-space-space-unit);
  justify-content: center;
  border-top-width: 0px;
  border-left-width: 0px;
  border-right-width: 0px;
  border-bottom-width: 1px;
}
.personal-credentials-text17 {
  color: rgb(255, 255, 255);
  width: var(--dl-size-size-medium);
  font-size: 22px;
  font-style: normal;
  text-align: center;
  font-family: Alegreya Sans SC;
  font-weight: 400;
  margin-right: var(--dl-space-space-unit);
  margin-bottom: var(--dl-space-space-twounits);
  text-transform: uppercase;
  text-decoration: underline;
}
.personal-credentials-container06 {
  flex: 0 0 auto;
  width: auto;
  height: auto;
  display: flex;
  align-self: flex-start;
  margin-top: var(--dl-space-space-halfunit);
  align-items: flex-start;
  margin-right: var(--dl-space-space-oneandhalfunits);
  flex-direction: column;
  justify-content: flex-start;
}
.personal-credentials-text18 {
  color: rgb(249, 248, 248);
  padding: 0.5rem;
  font-size: 18px;
  align-self: flex-end;
  font-style: normal;
  text-align: left;
  font-family: Alegreya Sans SC;
  font-weight: 300;
  margin-bottom: var(--dl-space-space-unit);
}
.personal-credentials-text19 {
  color: rgb(253, 253, 253);
  padding: 0.5rem;
  font-size: 18px;
  align-self: flex-end;
  font-style: normal;
  font-family: Alegreya Sans SC;
  font-weight: 300;
  margin-bottom: var(--dl-space-space-unit);
}
.personal-credentials-text20 {
  color: rgb(253, 253, 253);
  font-size: 18px;
  align-self: flex-end;
  font-style: normal;
  font-family: Alegreya Sans SC;
  font-weight: 300;
  padding-top: 0.5rem;
  padding-left: 1rem;
  margin-bottom: var(--dl-space-space-unit);
  padding-right: 1rem;
  padding-bottom: 0.5rem;
}
.personal-credentials-profile-pic {
  color: rgb(253, 253, 253);
  font-size: 18px;
  align-self: flex-end;
  font-style: normal;
  font-family: Alegreya Sans SC;
  font-weight: 300;
  padding-top: 0.5rem;
  padding-left: 1rem;
  margin-bottom: var(--dl-space-space-unit);
  padding-right: 1rem;
  padding-bottom: 0.5rem;
}
.personal-credentials-profile-pic1 {
  color: rgb(253, 253, 253);
  font-size: 18px;
  align-self: flex-end;
  font-style: normal;
  font-family: Alegreya Sans SC;
  font-weight: 300;
  padding-top: 0.5rem;
  padding-left: 1rem;
  margin-bottom: 0px;
  padding-right: 1rem;
  padding-bottom: 0.5rem;
}
.personal-credentials-container07 {
  flex: 0 0 auto;
  width: auto;
  height: auto;
  display: flex;
  align-self: flex-start;
  align-items: flex-start;
  flex-direction: column;
  justify-content: flex-start;
}
.personal-credentials-text23 {
  color: rgb(253, 253, 253);
  padding: 0.5rem;
  font-size: 18px;
  align-self: flex-start;
  font-style: normal;
  text-align: left;
  font-family: Alegreya Sans SC;
  font-weight: 300;
  margin-bottom: var(--dl-space-space-unit);
}
.personal-credentials-text24 {
  color: rgb(253, 253, 253);
  padding: 0.5rem;
  font-size: 18px;
  align-self: flex-start;
  font-style: normal;
  text-align: left;
  font-family: Alegreya Sans SC;
  font-weight: 300;
  margin-bottom: var(--dl-space-space-unit);
}
.personal-credentials-text25 {
  color: rgb(253, 253, 253);
  padding: 0.5rem;
  font-size: 18px;
  align-self: flex-start;
  font-style: normal;
  text-align: left;
  font-family: Alegreya Sans SC;
  font-weight: 300;
  margin-bottom: var(--dl-space-space-unit);
}
.personal-credentials-link {
  color: rgb(9, 255, 251);
  padding: 0.5rem;
  margin-top: 0px;
  margin-bottom: var(--dl-space-space-oneandhalfunits);
}
.personal-credentials-text26 {
  color: rgb(253, 253, 253);
  padding: 0.5rem;
  font-size: 18px;
  align-self: flex-start;
  font-style: normal;
  text-align: left;
  font-family: Alegreya Sans SC;
  font-weight: 300;
  margin-bottom: var(--dl-space-space-unit);
}
.personal-credentials-container08 {
  flex: 0 0 auto;
  width: auto;
  display: flex;
  align-self: flex-start;
  align-items: center;
  border-color: var(--dl-color-gray-black);
  border-width: 1px;
  margin-bottom: var(--dl-space-space-unit);
  padding-bottom: var(--dl-space-space-unit);
  justify-content: center;
  border-top-width: 0px;
  border-left-width: 0px;
  border-right-width: 0px;
  border-bottom-width: 1px;
}
.personal-credentials-text27 {
  color: rgb(255, 255, 255);
  width: var(--dl-size-size-medium);
  font-size: 22px;
  font-style: normal;
  text-align: center;
  font-family: Alegreya Sans SC;
  font-weight: 400;
  margin-right: var(--dl-space-space-unit);
  margin-bottom: var(--dl-space-space-twounits);
  text-transform: uppercase;
  text-decoration: underline;
}
.personal-credentials-container09 {
  flex: 0 0 auto;
  width: auto;
  height: auto;
  display: flex;
  align-self: flex-start;
  margin-top: var(--dl-space-space-halfunit);
  align-items: flex-start;
  margin-right: var(--dl-space-space-oneandhalfunits);
  flex-direction: column;
  justify-content: flex-start;
}
.personal-credentials-text28 {
  color: rgb(249, 248, 248);
  padding: 0.5rem;
  font-size: 18px;
  align-self: flex-end;
  font-style: normal;
  text-align: left;
  font-family: Alegreya Sans SC;
  font-weight: 300;
  margin-bottom: var(--dl-space-space-unit);
}
.personal-credentials-text29 {
  color: rgb(253, 253, 253);
  padding: 0.5rem;
  font-size: 18px;
  align-self: flex-end;
  font-style: normal;
  font-family: Alegreya Sans SC;
  font-weight: 300;
  margin-bottom: var(--dl-space-space-unit);
}
.personal-credentials-text30 {
  color: rgb(253, 253, 253);
  font-size: 18px;
  align-self: flex-end;
  font-style: normal;
  font-family: Alegreya Sans SC;
  font-weight: 300;
  padding-top: 0.5rem;
  padding-left: 1rem;
  margin-bottom: var(--dl-space-space-unit);
  padding-right: 1rem;
  padding-bottom: 0.5rem;
}
.personal-credentials-profile-pic2 {
  color: rgb(253, 253, 253);
  font-size: 18px;
  align-self: flex-end;
  font-style: normal;
  font-family: Alegreya Sans SC;
  font-weight: 300;
  padding-top: 0.5rem;
  padding-left: 1rem;
  margin-bottom: var(--dl-space-space-unit);
  padding-right: 1rem;
  padding-bottom: 0.5rem;
}
.personal-credentials-profile-pic3 {
  color: rgb(253, 253, 253);
  font-size: 18px;
  align-self: flex-end;
  font-style: normal;
  font-family: Alegreya Sans SC;
  font-weight: 300;
  padding-top: 0.5rem;
  padding-left: 1rem;
  margin-bottom: 0px;
  padding-right: 1rem;
  padding-bottom: 0.5rem;
}
.personal-credentials-container10 {
  flex: 0 0 auto;
  width: auto;
  height: auto;
  display: flex;
  align-self: flex-start;
  align-items: flex-start;
  flex-direction: column;
  justify-content: flex-start;
}
.personal-credentials-text33 {
  color: rgb(253, 253, 253);
  padding: 0.5rem;
  font-size: 18px;
  align-self: flex-start;
  font-style: normal;
  text-align: left;
  font-family: Alegreya Sans SC;
  font-weight: 300;
  margin-bottom: var(--dl-space-space-unit);
}
.personal-credentials-text34 {
  color: rgb(253, 253, 253);
  padding: 0.5rem;
  font-size: 18px;
  align-self: flex-start;
  font-style: normal;
  text-align: left;
  font-family: Alegreya Sans SC;
  font-weight: 300;
  margin-bottom: var(--dl-space-space-unit);
}
.personal-credentials-text35 {
  color: rgb(253, 253, 253);
  padding: 0.5rem;
  font-size: 18px;
  align-self: flex-start;
  font-style: normal;
  text-align: left;
  font-family: Alegreya Sans SC;
  font-weight: 300;
  margin-bottom: var(--dl-space-space-unit);
}
.personal-credentials-link1 {
  color: rgb(9, 255, 251);
  padding: 0.5rem;
  margin-top: 0px;
  margin-bottom: var(--dl-space-space-oneandhalfunits);
}
.personal-credentials-text36 {
  color: rgb(253, 253, 253);
  padding: 0.5rem;
  font-size: 18px;
  align-self: flex-start;
  font-style: normal;
  text-align: left;
  font-family: Alegreya Sans SC;
  font-weight: 300;
  margin-bottom: var(--dl-space-space-unit);
}
.personal-credentials-button {
  color: rgb(255, 255, 255);
  font-size: 23px;
  align-self: center;
  margin-top: var(--dl-space-space-halfunit);
  font-family: Alegreya Sans SC;
  border-radius: 56px;
  margin-bottom: var(--dl-space-space-halfunit);
  background-color: rgb(0, 0, 0);
}
.personal-credentials-container11 {
  flex: 0 0 auto;
  width: 48%;
  height: auto;
  display: flex;
  align-items: flex-start;
  margin-left: var(--dl-space-space-halfunit);
  margin-right: var(--dl-space-space-halfunit);
  padding-right: var(--dl-space-space-oneandhalfunits);
}
.personal-credentials-centered-container2 {
  width: 100%;
  height: auto;
  display: flex;
  max-width: auto;
  align-items: flex-end;
  margin-bottom: var(--dl-space-space-twounits);
  flex-direction: column;
  justify-content: space-between;
}
.personal-credentials-text37 {
  color: rgb(255, 255, 255);
  font-size: 23px;
  align-self: center;
  font-style: normal;
  font-family: Alegreya Sans SC;
  font-weight: 300;
  margin-bottom: var(--dl-space-space-oneandhalfunits);
  text-decoration: underline;
}
.personal-credentials-form1 {
  width: auto;
  height: auto;
  display: flex;
  align-self: center;
  margin-top: var(--dl-space-space-halfunit);
  align-items: center;
  margin-bottom: var(--dl-space-space-halfunit);
  flex-direction: column;
  padding-bottom: var(--dl-space-space-halfunit);
  justify-content: center;
}
.personal-credentials-text38 {
  color: rgb(255, 255, 255);
  font-style: italic;
  font-family: Alegreya Sans SC;
  font-weight: 100;
  margin-bottom: var(--dl-space-space-twounits);
}
.personal-credentials-text40 {
  color: var(--dl-color-primary-700);
}
.personal-credentials-container12 {
  flex: 0 0 auto;
  width: auto;
  display: flex;
  align-self: flex-start;
  align-items: center;
  justify-content: center;
}
.personal-credentials-container13 {
  flex: 0 0 auto;
  width: auto;
  height: auto;
  display: flex;
  align-self: flex-start;
  margin-top: var(--dl-space-space-halfunit);
  align-items: flex-start;
  margin-right: var(--dl-space-space-oneandhalfunits);
  flex-direction: column;
  justify-content: flex-start;
}
.personal-credentials-text42 {
  color: rgb(249, 248, 248);
  padding: 0.5rem;
  font-size: 18px;
  align-self: flex-end;
  font-style: normal;
  text-align: left;
  font-family: Alegreya Sans SC;
  font-weight: 300;
  margin-bottom: var(--dl-space-space-unit);
}
.personal-credentials-text43 {
  color: rgb(253, 253, 253);
  padding: 0.5rem;
  font-size: 18px;
  align-self: flex-end;
  font-style: normal;
  font-family: Alegreya Sans SC;
  font-weight: 300;
  margin-bottom: var(--dl-space-space-unit);
}
.personal-credentials-text44 {
  color: rgb(253, 253, 253);
  font-size: 18px;
  align-self: flex-end;
  font-style: normal;
  font-family: Alegreya Sans SC;
  font-weight: 300;
  padding-top: 0.5rem;
  padding-left: 1rem;
  margin-bottom: var(--dl-space-space-unit);
  padding-right: 1rem;
  padding-bottom: 0.5rem;
}
.personal-credentials-text46 {
  color: var(--dl-color-primary-700);
}
.personal-credentials-profile-pic4 {
  color: rgb(253, 253, 253);
  font-size: 18px;
  align-self: flex-end;
  font-style: normal;
  font-family: Alegreya Sans SC;
  font-weight: 300;
  padding-top: 0.5rem;
  padding-left: 1rem;
  margin-bottom: 0px;
  padding-right: 1rem;
  padding-bottom: 0.5rem;
}
.personal-credentials-profile-pic5 {
  color: rgb(253, 253, 253);
  font-size: 18px;
  align-self: flex-end;
  font-style: normal;
  text-align: right;
  font-family: Alegreya Sans SC;
  font-weight: 300;
  padding-top: 0rem;
  padding-left: 1rem;
  margin-bottom: var(--dl-space-space-oneandhalfunits);
  padding-right: 1rem;
  padding-bottom: 0rem;
}
.personal-credentials-container14 {
  flex: 0 0 auto;
  width: auto;
  height: auto;
  display: flex;
  align-self: flex-start;
  align-items: flex-start;
  flex-direction: column;
  justify-content: flex-start;
}
.personal-credentials-text51 {
  color: rgb(253, 253, 253);
  padding: 0.5rem;
  font-size: 18px;
  align-self: flex-start;
  font-style: normal;
  text-align: left;
  font-family: Alegreya Sans SC;
  font-weight: 300;
  margin-bottom: var(--dl-space-space-unit);
}
.personal-credentials-text52 {
  color: rgb(253, 253, 253);
  padding: 0.5rem;
  font-size: 18px;
  align-self: flex-start;
  font-style: normal;
  text-align: left;
  font-family: Alegreya Sans SC;
  font-weight: 300;
  margin-bottom: var(--dl-space-space-unit);
}
.personal-credentials-text53 {
  color: rgb(253, 253, 253);
  padding: 0.5rem;
  font-size: 18px;
  align-self: flex-start;
  font-style: normal;
  text-align: left;
  font-family: Alegreya Sans SC;
  font-weight: 300;
  margin-bottom: var(--dl-space-space-unit);
}
.personal-credentials-image1 {
  width: 100px;
  object-fit: cover;
}
.personal-credentials-footer {
  width: 100%;
  display: flex;
  padding: var(--dl-space-space-twounits);
  max-width: auto;
  align-items: center;
  padding-top: var(--dl-space-space-threeunits);
  padding-left: var(--dl-space-space-threeunits);
  padding-right: var(--dl-space-space-threeunits);
  padding-bottom: var(--dl-space-space-threeunits);
  justify-content: space-between;
}
.personal-credentials-text54 {
  font-family: Alegreya Sans SC;
}
.personal-credentials-text55 {
  font-family: Alegreya Sans SC;
}
@media(max-width: 1600px) {
  .personal-credentials-navlink {
    font-size: 26px;
    font-style: inherit;
    font-family: Alegreya Sans SC;
    font-weight: 400;
  }
  .personal-credentials-text01 {
    font-size: 18px;
    font-family: Alegreya Sans SC;
  }
  .personal-credentials-text02 {
    font-size: 18px;
    font-family: Alegreya Sans SC;
  }
  .personal-credentials-text03 {
    font-size: 18px;
    font-family: Alegreya Sans SC;
  }
  .personal-credentials-dropdown-toggle {
    color: #f9f8f8;
    border-radius: 56px;
    background-color: #040000;
  }
  .personal-credentials-text04 {
    font-size: 18px;
    font-style: normal;
    font-family: Alegreya Sans SC;
    font-weight: 500;
  }
  .personal-credentials-dropdown-list {
    display: none;
    border-radius: 5px;
  }
  .personal-credentials-view-profile1 {
    font-size: 16px;
    font-family: Alegreya Sans SC;
  }
  .personal-credentials-logout1 {
    font-size: 16px;
    font-family: Alegreya Sans SC;
  }
  .personal-credentials-credentials {
    padding-left: var(--dl-space-space-oneandhalfunits);
    padding-right: var(--dl-space-space-oneandhalfunits);
  }
  .personal-credentials-text10 {
    color: #ffffff;
    font-size: 32px;
    align-self: center;
    font-family: Alegreya Sans SC;
  }
}
@media(max-width: 1200px) {
  .personal-credentials-navlink {
    font-size: 26px;
    font-style: inherit;
    font-family: Alegreya Sans SC;
    font-weight: 400;
  }
  .personal-credentials-text {
    font-size: 18px;
    font-family: Alegreya Sans SC;
  }
  .personal-credentials-text01 {
    font-size: 18px;
    font-family: Alegreya Sans SC;
  }
  .personal-credentials-text02 {
    font-size: 18px;
    font-family: Alegreya Sans SC;
  }
  .personal-credentials-text03 {
    font-size: 18px;
  }
  .personal-credentials-dropdown-toggle {
    color: #f7f6f6;
    border-radius: 56px;
    background-color: #040000;
  }
  .personal-credentials-text04 {
    font-size: 18px;
    font-style: normal;
    font-family: Alegreya Sans SC;
    font-weight: 500;
  }
  .personal-credentials-view-profile1 {
    font-size: 16px;
    font-style: normal;
    font-family: Alegreya Sans SC;
    font-weight: 500;
  }
  .personal-credentials-logout1 {
    font-size: 16px;
    font-style: normal;
    font-family: Alegreya Sans SC;
    font-weight: 500;
  }
  .personal-credentials-text10 {
    color: rgb(255, 255, 255);
    font-size: 32px;
    align-self: center;
    text-align: left;
    font-family: Alegreya Sans SC;
  }
  .personal-credentials-centered-container {
    align-items: center;
    justify-content: center;
  }
  .personal-credentials-centered-container1 {
    align-items: center;
    justify-content: center;
  }
  .personal-credentials-form {
    width: 100%;
    align-self: stretch;
  }
  .personal-credentials-centered-container2 {
    align-items: center;
    justify-content: center;
  }
  .personal-credentials-form1 {
    width: 100%;
    align-self: stretch;
  }
  .personal-credentials-footer {
    background-color: #ffffff;
  }
  .personal-credentials-text54 {
    font-size: 26px;
    font-style: normal;
    font-family: Alegreya Sans SC;
    font-weight: 700;
    text-transform: capitalize;
  }
  .personal-credentials-text55 {
    color: #000000;
    font-family: Alegreya Sans SC;
  }
}
@media(max-width: 991px) {
  .personal-credentials-centered-container {
    justify-content: flex-start;
  }
  .personal-credentials-centered-container1 {
    justify-content: flex-start;
  }
  .personal-credentials-form {
    width: 100%;
    align-self: center;
    align-items: center;
    justify-content: center;
  }
  .personal-credentials-centered-container2 {
    justify-content: flex-start;
  }
  .personal-credentials-form1 {
    width: 100%;
    align-self: center;
    align-items: center;
    justify-content: center;
  }
}
@media(max-width: 767px) {
  .personal-credentials-navbar-interactive {
    padding-left: var(--dl-space-space-twounits);
    padding-right: var(--dl-space-space-twounits);
  }
  .personal-credentials-desktop-menu {
    display: none;
  }
  .personal-credentials-text01 {
    margin-left: var(--dl-space-space-unit);
  }
  .personal-credentials-text02 {
    margin-left: var(--dl-space-space-unit);
  }
  .personal-credentials-text03 {
    margin-left: var(--dl-space-space-unit);
  }
  .personal-credentials-btn-group {
    display: none;
  }
  .personal-credentials-view-profile1 {
    color: rgb(255, 255, 255);
    font-size: 16px;
    font-style: normal;
    font-family: Alegreya Sans SC;
    font-weight: 500;
  }
  .personal-credentials-logout1 {
    color: rgb(255, 255, 255);
    font-size: 16px;
    font-style: normal;
    font-family: Alegreya Sans SC;
    font-weight: 500;
  }
  .personal-credentials-burger-menu {
    display: flex;
  }
  .personal-credentials-credentials {
    padding-top: var(--dl-space-space-fourunits);
    padding-left: var(--dl-space-space-oneandhalfunits);
    padding-right: var(--dl-space-space-oneandhalfunits);
    padding-bottom: var(--dl-space-space-fourunits);
  }
  .personal-credentials-footer {
    padding-left: var(--dl-space-space-twounits);
    padding-right: var(--dl-space-space-twounits);
  }
  .personal-credentials-text55 {
    text-align: center;
    margin-left: var(--dl-space-space-unit);
    margin-right: var(--dl-space-space-unit);
  }
}
@media(max-width: 479px) {
  .personal-credentials-navbar-interactive {
    padding: var(--dl-space-space-unit);
  }
  .personal-credentials-mobile-menu {
    padding: 16px;
  }
  .personal-credentials-credentials {
    padding-left: var(--dl-space-space-unit);
    padding-right: var(--dl-space-space-unit);
  }
  .personal-credentials-footer {
    padding: var(--dl-space-space-unit);
    flex-direction: column;
  }
  .personal-credentials-text55 {
    margin-left: 0px;
    margin-right: 0px;
    margin-bottom: var(--dl-space-space-unit);
  }
}
