.credential-types-features {
  width: 100%;
  display: flex;
  z-index: 1;
  position: relative;
  align-items: center;
  padding-top: var(--dl-space-space-fiveunits);
  padding-left: var(--dl-space-space-sevenunits);
  padding-right: var(--dl-space-space-sevenunits);
  flex-direction: column;
  background-color: EFF0F2;
}
.credential-types-title {
  display: flex;
  align-items: center;
  flex-direction: column;
}
.credential-types-text {
  font-size: 56px;
  font-style: normal;
  text-align: center;
  font-weight: 700;
  line-height: 72px;
}
.credential-types-text04 {
  font-size: 20px;
  margin-top: 16px;
  text-align: center;
  line-height: 30px;
}
.credential-types-cards {
  width: 100%;
  display: flex;
  max-width: 1200px;
  margin-top: 80px;
  align-items: center;
  flex-direction: column;
}
.credential-types-container {
  gap: var(--dl-space-space-twounits);
  width: 100%;
  display: flex;
  align-items: center;
  margin-bottom: var(--dl-space-space-twounits);
  flex-direction: row;
}
.credential-types-icon {
  width: 32px;
  height: 30px;
  margin-bottom: var(--dl-space-space-oneandhalfunits);
}
.credential-types-text07 {
  font-size: 28px;
  font-style: normal;
  font-weight: 700;
  line-height: 33px;
  margin-bottom: var(--dl-space-space-unit);
}
.credential-types-text08 {
  line-height: 24px;
}
.credential-types-publish {
  height: initial;
}
.credential-types-icon1 {
  width: 30px;
  height: 30px;
  margin-bottom: var(--dl-space-space-oneandhalfunits);
}
.credential-types-text09 {
  font-size: 28px;
  font-style: normal;
  font-weight: 700;
  line-height: 33px;
  margin-bottom: var(--dl-space-space-unit);
}
.credential-types-text10 {
  line-height: 24px;
}
.credential-types-container1 {
  gap: var(--dl-space-space-twounits);
  width: 100%;
  display: flex;
  align-items: center;
  margin-bottom: var(--dl-space-space-sixunits);
  flex-direction: row;
}
.credential-types-icon2 {
  width: 35px;
  height: 30px;
  margin-bottom: var(--dl-space-space-oneandhalfunits);
}
.credential-types-text11 {
  font-size: 28px;
  font-style: normal;
  font-weight: 700;
  line-height: 33px;
  margin-bottom: 16px;
}
.credential-types-text12 {
  line-height: 24px;
}
.credential-types-icon3 {
  width: 30px;
  height: 30px;
  margin-bottom: var(--dl-space-space-oneandhalfunits);
}
.credential-types-text13 {
  font-size: 28px;
  font-style: normal;
  font-weight: 700;
  line-height: 33px;
  margin-bottom: var(--dl-space-space-unit);
}
.credential-types-text14 {
  line-height: 24px;
}
@media(max-width: 991px) {
  .credential-types-features {
    padding-top: 260px;
  }
  .credential-types-title {
    width: 100%;
    max-width: 1200px;
  }
  .credential-types-text {
    font-size: 36px;
    line-height: 40px;
  }
  .credential-types-text04 {
    font-size: 20px;
    margin-top: var(--dl-space-space-unit);
    line-height: 30px;
  }
  .credential-types-cards {
    margin-top: var(--dl-space-space-fiveunits);
  }
  .credential-types-text08 {
    line-height: 21px;
  }
  .credential-types-text10 {
    line-height: 21px;
  }
  .credential-types-text12 {
    line-height: 21px;
  }
  .credential-types-text13 {
    font-size: 24px;
  }
  .credential-types-text14 {
    line-height: 21px;
  }
}
@media(max-width: 767px) {
  .credential-types-features {
    padding-top: 350px;
    padding-left: var(--dl-space-space-oneandhalfunits);
    padding-right: var(--dl-space-space-oneandhalfunits);
  }
  .credential-types-text {
    font-size: 36px;
    font-style: normal;
    font-weight: 700;
    line-height: 40px;
  }
  .credential-types-container {
    gap: var(--dl-space-space-oneandhalfunits);
    margin-bottom: var(--dl-space-space-oneandhalfunits);
    flex-direction: column;
  }
  .credential-types-text07 {
    font-size: 24px;
  }
  .credential-types-text08 {
    font-size: 14px;
  }
  .credential-types-publish {
    margin-left: 0px;
  }
  .credential-types-text09 {
    font-size: 24px;
  }
  .credential-types-text10 {
    font-size: 14px;
  }
  .credential-types-container1 {
    gap: var(--dl-space-space-oneandhalfunits);
    flex-direction: column;
  }
  .credential-types-analyze {
    margin-right: 0px;
  }
  .credential-types-text11 {
    font-size: 24px;
  }
  .credential-types-text12 {
    font-size: 14px;
  }
  .credential-types-text14 {
    font-size: 14px;
  }
}
@media(max-width: 479px) {
  .credential-types-features {
    padding-top: 200px;
  }
  .credential-types-cards {
    margin-top: var(--dl-space-space-threeunits);
    margin-bottom: var(--dl-space-space-threeunits);
  }
  .credential-types-container {
    gap: var(--dl-space-space-oneandhalfunits);
    margin-bottom: var(--dl-space-space-oneandhalfunits);
  }
  .credential-types-container1 {
    gap: var(--dl-space-space-oneandhalfunits);
    margin-bottom: 0px;
  }
  .credential-types-analyze {
    margin-bottom: 0px;
  }
}
